<?xml version="1.0"?>
<!-- Basic differential drive mobile base -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diffdrive_robot">

  <!-- Import diffbot ros2_control description -->
  <xacro:include filename="$(find diffdrive_arduino)/ros2_control/diffbot.ros2_control.xacro" />

  <xacro:include filename="$(find diffdrive_arduino)/urdf/diffbot.core.xacro" />
  <xacro:include filename="$(find diffdrive_arduino)/urdf/diffbot.lidar.xacro" />

  <!-- <xacro:diffbot_ros2_control name="diffbot_ros2_control"/> -->

</robot>
